* {
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}

.quiz {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 199, 199, 0.671);
}
.current-question {
  position: relative;
  overflow: hidden;
  height: 95%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.current-question:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(219, 199, 199, 0.7);
  background-position: 50% 0;
}
.question {
  z-index: 2;
  width: 60%;
  height: 70%;
  display: flex;
  align-items: center;
}
.question > p {
  font-size: 40px;
  text-align: center;
}
.answers {
  z-index: 2;
  width: 80%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.answer {
  border: 1px solid black;
  margin-bottom: 5px;
  border-color: rgb(158, 145, 145);
  border-radius: 5%;
  width: 40%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 199, 199);
}
.answer:hover {
  background-color: rgb(158, 145, 145);
}
.answer > p {
  font-size: 30px;
  text-align: center;
}
